/*RESET E ESTILOS BASE*/
/*'0' é um seletor universal que aplica estilos a TODOS os elementos da página*/
*{
    margin: 0;/*remove as margens padrão que os navegadores adicionam*/
    padding: 0;/*remove os espaçamentos internos padrão*/
    box-sizing: border-box;/*faz com que o padding e boder sejam incluídos na largura e altura total do elemento*/
}
body{
    /*fontes: segoe UI, Tahoma, Geneva, Verdana, sans-serif (Segoe Ui é a primeira opção, se não tiver, vai tentando as próximas) */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;/*altura entre linhas 1.6x o tamanho da fonte*/
    color:black;/*cor do texto preto*/
    background: linear-gradient(135deg,#FF0000 0%, #FFFF00 100%); /*gradiente de fundo: 135deg e a direção, de amarelo escuro para amarelo claro*/
    padding: 1rem 5%;/*1rem = 16px tamanho padrão da fonte, 5% da largura do container*/
    display: flex; /*ativa o flexbox para layout flexível*/
    align-items: center; /*alinha os itens verticalmente ao centro*/
}